/* PROMENNE */

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #fafafa;
  --gray: #858585;
  --dark-gray: #4f4f4f;
  --light-gray: #efefef;
  --blue: #214cad;
}

/* PROMENNE */

/* OBECNE_NASTAVENI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
}

/* OBECNE_NASTAVENI */

/* ---------HEADER--------- */

header {
  position: fixed;
  width: 100vw;
  height: 6rem;
  padding: 1rem;
  z-index: 10;
  background: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  margin: 0 1.5rem;
  text-decoration: none;
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.nav-links>li {
  position: relative;
  display: inline;
  list-style: none;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.nav-links>li>a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.2rem;
  padding: 0 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  padding-top: 3rem;
  list-style: none;
  background: var(--white);
  text-align: center;
  border-radius: 0 0 0.75rem 0.75rem;
  transition: all 0.1s ease 0s;
}

nav ul li:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu>li>a {
  display: block;
  margin: 0.25rem;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 0.75rem;
  background: var(--white);
  color: var(--black);
  transition: all 0.25s linear 0s;
}

.dropdown-menu>li>a:hover {
  background: var(--light-gray);
}

li.mobile-links {
  display: none;
}

.mobile-links-div {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 6rem;
  width: 95vw;
  background: var(--dark-gray);
  border-radius: 0 0 0.5rem 0.5rem;
  transition: all 0.5s ease 0s;
}

.mobile-links-div li {
  list-style: none;
}

.mobile-links-div a {
  display: block;
  text-decoration: none;
  margin: 3rem 0;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 900px) {
  .logo {
    margin: 0 0.5rem;
    letter-spacing: 0.1rem;
  }

  .nav-links>li {
    display: none;
  }

  li.mobile-links {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 0;
    height: 6rem;
  }

  #menu {
    height: 4rem;
    margin: 0.4rem 1.25rem 0 0;
  }

  .nav-links-mini {
    display: block;
  }

  #menu-link:hover~.mobile-links-div {
    visibility: visible;
    opacity: 1;
  }

  .mobile-links-div:hover {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .mobile-links-div {
    width: 92vw;
  }
}

@media (max-width: 539px) {
  .mobile-links-div {
    width: 91vw;
  }
}

@media (max-width: 400px) {
  .mobile-links-div {
    width: 90.5vw;
  }
}

/* ---------HEADER--------- */

/* ---------CONTENT--------- */

.content {
  position: relative;
  width: 85%;
  margin: 0 auto;
  padding: 5rem;
  padding-top: 11rem;
  z-index: 1;
  background-color: var(--white);
}

/* ---------CONTENT--------- */