/* PROMENNE */

:root {
    --white: #ffffff;
    --black: #000000;
    --background: #fafafa;
    --gray: #858585;
    --dark-gray: #4f4f4f;
    --light-gray: #efefef;
    --blue: #214cad;
    --dark-blue: #142d68;
}

/* PROMENNE */

/* OBECNE_NASTAVENI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
}

/* OBECNE_NASTAVENI */

/* 
Style pravidla rozdelena do 3 kategorii
1. display a pozice
2. rozmery elementu
3. vzhledove formatovani
*/