/* PROMENNE */

:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --background: #fafafa;
    --box-shadow: rgba(0, 0, 0, 0.2);

    --hover: #efefef;
    --mobile: #b6b6b6;

    --btn-color: #214cad;
    --btn-color-dark: #142d68;
}

.darkmode {
  --light-color: #161625;
  --dark-color: #ffffff;
  --background: #131321;

  --hover: #353559;
  --mobile: #2b2b48;

  --btn-color: #214cad;
  --btn-color-dark: #326cf5;
}

.darkmode #menu {
  filter: invert(1);
}

/* PROMENNE */

/* OBECNE_NASTAVENI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
}

/* OBECNE_NASTAVENI */

/* 
Style pravidla rozdelena do 3 kategorii
1. display a pozice
2. rozmery elementu
3. vzhledove formatovani
*/