body {
    font-family: Arial, sans-serif;
    background: #cccccc;
    margin: 0;
    padding: 20px;
}
.task {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 24px;
    padding: 20px;
}
.task h2 {
    margin-top: 0;
}

/* .result-view iframe {
    width: 80%;
    max-height: 75vh;
} */

.task-result-view {
    all: unset; display: block;
    width: 80%;
    height: 50vh;
    max-height: 75vh;
    margin: 1em auto;
}

.task-result-view iframe {
    width: 100%;
    height: 100%;
    border: 3px solid #ccc;
    border-radius: 1em;
    box-shadow: -5px 5px 5px #ccc;
}

.task-topic-hint {
    font-style: italic;
    padding: 0.5em 0.5em;
    background-color: #c0c0c0;
    border-radius: 1em;
}
.task-topic-hint p {
    margin: 0;
}
.task-help {
    margin-top: 6px;
}
.task-help a {
    color: #0074d9;
    text-decoration: none;
}
.task-help a:hover {
    text-decoration: underline;
}