body {
    font-family: Arial, sans-serif;
    background: #cccccc;
    margin: 0;
    padding: 0.5rem;
}

h1, h3 {
    color: #333;
    text-align: center;
}

header {
    margin-bottom: 1rem;
}

nav {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.5rem;
}

nav a:hover {
    color: #0074d9;
    text-decoration: underline;
}


.tasks-group {
    margin-bottom: 2rem;
    border: black 2px solid;
    border-radius: 1rem;
    background-color: #333;
}

.tasks-group h2 {
    color: #cccccc;
    text-align: center;
    padding: 1rem 0;
}

.tasks-group-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.task {
    background: #fff;
    border-radius: 1em;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.05);
    margin-bottom: 2rem;
    padding: 1rem;
}
.task h3 {
    margin-top: 0;
}

/* .result-view iframe {
    width: 80%;
    max-height: 75vh;
} */

.task-result-view {
    all: unset; display: block;
    width: 80%;
    height: 50vh;
    max-height: 75vh;
    margin: 1em auto;
}

.task-result-view iframe {
    width: 100%;
    height: 100%;
    border: 3px solid #ccc;
    border-radius: 1em;
    box-shadow: -5px 5px 5px #ccc;
}

.task-topic-hint {
    font-style: italic;
    padding: 0.5em 0.5em;
    background-color: #c0c0c0;
    border-radius: 1em;
    width: fit-content;
    margin: auto, 0.5em;
}
.task-topic-hint p {
    margin: 0;
}
.task-help {
    margin-top: 6px;
}
.task-help a {
    color: #0074d9;
    text-decoration: none;
}
.task-help a:hover {
    text-decoration: underline;
}